<p>cart works!</p>

<div class="cart-container">
    <div class="cart-item"> 
    <img src="https://picsum.photos/200">
        <div class="cart-item-details">
            <h5>Product</h5>
            <p>$9.99</p>
            <label>Amount</label>
            <input type="number">
        </div>
    </div>

    <div class="cart-panel">
        <form class="form">
        <label>Name</label>
        <input type="text">
        <label>Address</label>
        <input type="text">
        <label>Credit card number</label>
        <input type="text">
        <p>We'll never share your payment details with anyone else.</p>
        <button class="btn btn-primary">Submit</button>
    </form>
    <h2></h2>
    </div>

    
</div>
