<div class="cart-container">
    <ul>
        <p *ngIf="shoppingCart.length === 0" class="empty-cart-message">Nothing in the Cart!</p> <!--ngOnChanges!!!-->
        <li class="cart-item" *ngFor="let product of shoppingCart"> 
        <img src={{product.url}}>
        <div class="cart-item-details">
            <h5>{{product.name}}</h5>
            <p>{{product.price}}</p>
            <label>Amount</label>
            <input type="number" name="amount" [(ngModel)]="product.amount" (change)="calculate()"> <!--value={{product.amount}}>--> 
        </div>
        </li>
        <h3>${{calculate()}}</h3>
    </ul>
    

    <div class="cart-panel">
        <form class="form"> <!--call the function to submit-->
            <label>Name</label>
            <input type="text" placeholder="(minimum 3 characters)" name="name" [(ngModel)]="name">
            <label>Address</label>
            <input type="text" placeholder="(minimum 6 characters)" name="adress" [(ngModel)]="adress">
            <label>Credit card number</label>
            <input type="text" maxlength="16" placeholder="(16-digit number)" name="ccnumber" [(ngModel)]="ccnumber">
            <p>We'll never share your payment details with anyone else.</p>
            <button class="btn btn-primary" (click)="submit()">Submit</button>
        </form>
    <h2></h2>
    </div>

    
</div>
