<p>cart works!</p>

<div class="cart-container">
    <ul>
        <li class="cart-item" *ngFor="let product of shoppingCart"> 
        <img src={{product.url}}>
        <div class="cart-item-details">
            <h5>{{product.name}}</h5>
            <p>{{product.price}}</p>
            <label>Amount</label>
            <input type="number" value={{product.amount}}>
        </div>
        </li>
    </ul>
    
    

    <div class="cart-panel">
        <form class="form">
            <label>Name</label>
            <input type="text">
            <label>Address</label>
            <input type="text">
            <label>Credit card number</label>
            <input type="text">
            <p>We'll never share your payment details with anyone else.</p>
            <button class="btn btn-primary">Submit</button>
        </form>
    <h2></h2>
    </div>

    
</div>
