
<div class="product-container">
    <div class="product-image">
        <img src={{product.url}} [routerLink]="'/detail'" [state]="product" style="cursor: pointer;">
    </div>
    <p>{{product.name}}</p>
    <br>
    <p>${{product.price}}</p>
    <br>
    <form>
        <select [(ngModel)]="amount" name="amount" class="select-input">
            <option *ngFor="let select of selector" [ngValue]="select">{{select}}</option>
        </select>
        <br>
        <button class="btn btn-primary" (click)="add(product, amount)">Add to Cart</button>
    </form>

    
    
</div>


<br>

