.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    background: #33B5E5;
    padding: 20px 200px 20px 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 0px 20px;
}

a {
    color: white;
    font-weight: bold;
}