<div class="detail-container">
    <img src={{product.url}}>
    <div class="detail-item">
        <h4>{{product.name}}</h4>
        <p>{{product.price}}</p>
        <p>{{product.description}}</p>
        <br>
        <form action="">
            <select [(ngModel)]="amount" name="amount" class="select-input">
                <option *ngFor="let select of selector" [ngValue]="select">{{select}}</option>
            </select>
            <br>
            <!--Add popup on click!!!-->
            <button class="btn btn-primary" (click)="add(product, amount)">Add to Cart</button>
        </form>
        <div class="back-link"><a [routerLink]="'/'">Back to product list</a></div>
    </div>
</div>